# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SOLDERLESS_LEFT
	def_bool $(shields_list_contains,solderless_left)

config SHIELD_SOLDERLESS_RIGHT
	def_bool $(shields_list_contains,solderless_right)
